h1 {
    font-family: Helvetica;
    font-weight: normal;
    background-color: white;
    padding: 30px;
}

h2 {
    font-family: Helvetica;
    font-weight: bold;
    border-bottom: 3px solid black;
}

footer {
    text-align: center;
    font-family: Verdana;
    font-weight: bold;
    font-style: italic;
    background-color: darkblue;
    border: 3px solid white;
    color: white;
    padding: 40px;
}

body {
    background-image: url(a5bg.png);
    background-repeat: repeat;
}

a {
    color: blue;
    font-weight: bold;
    text-decoration: underline;
}
 a:hover {
    color: red;
    font-weight: normal;
 }

 nav li {
    display: inline-block;
    width: 200px;
    background-color: darkblue; 
    margin-right: 20px;
 }

 nav li a {
    display: block;
    color: white;
    padding: 30px;
    text-decoration: none;
    text-align: center;
    font-weight: normal;
 }

 nav li a:hover {
    background-color: blue;
    color: white;
 }

 #white {
    background-color: white;
    padding: 30px;
    margin: 30px;
 }

 #white p {
    text-align: justify;
 }